node_modules/
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
stats.json
dist/
test-results/

.idea/
/.vs
/.vs/slnx.sqlite
/.vs/Stacks-Editor
/.vs/Stacks-Editor/config
/.vs/Stacks-Editor/config/applicationhost.config
/.vs/Stacks-Editor/copilot-chat/e7978f8a/sessions
/.vs/Stacks-Editor/copilot-chat/e7978f8a/sessions/21f02b70-0696-4735-88a8-16187fc34782
/.vs/Stacks-Editor/copilot-chat/e7978f8a/sessions/cadace3d-fd6e-495b-ad80-e0b01dd77b04
/.vs/Stacks-Editor/CopilotIndices
/.vs/Stacks-Editor/CopilotIndices/0.2.1657.32929
/.vs/Stacks-Editor/CopilotIndices/0.2.1657.32929/CodeChunks.db
/.vs/Stacks-Editor/CopilotIndices/0.2.1657.32929/SemanticSymbols.db
/.vs/Stacks-Editor/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
/.vs/Stacks-Editor/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
/.vs/Stacks-Editor/CopilotIndices/17.12.68.61481
/.vs/Stacks-Editor/CopilotIndices/17.12.68.61481/CodeChunks.db
/.vs/Stacks-Editor/CopilotIndices/17.12.68.61481/CodeChunks.db-shm
/.vs/Stacks-Editor/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
/.vs/Stacks-Editor/CopilotIndices/17.12.68.61481/SemanticSymbols.db
/.vs/Stacks-Editor/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
/.vs/Stacks-Editor/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
/.vs/Stacks-Editor/FileContentIndex
/.vs/Stacks-Editor/FileContentIndex/2502a5cd-9100-4810-b9a4-74b5a7f51883.vsidx
/.vs/Stacks-Editor/FileContentIndex/3ac5c41d-d801-4dde-91a6-b72039dfb5fd.vsidx
/.vs/Stacks-Editor/FileContentIndex/4f45839f-c457-4de3-a563-73c24e7b788a.vsidx
/.vs/Stacks-Editor/FileContentIndex/ee0afd1b-1b22-4d17-946e-54409ec466e7.vsidx
/.vs/Stacks-Editor/v17
/.vs/Stacks-Editor/v17/.wsuo
/.vs/Stacks-Editor/v17/DocumentLayout.backup.json
/.vs/Stacks-Editor/v17/DocumentLayout.json
/.vs/Stacks-Editor/v17/TestStore/0
/.vs/Stacks-Editor/v17/TestStore/0/000.testlog
/.vs/Stacks-Editor/v17/TestStore/0/testlog.manifest
/.vs/VSWorkspaceState.json
