@import "@stackoverflow/stacks-icons/dist/icons.css";

/* TODO get rid of these once they're exposed in the upstream Stacks-Icons package */

.svg-icon-bg.iconRichText {
    width: 21px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/RichText.svg");
}
.svg-icon-bg.iconMarkdownPreview {
    width: 21px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/MarkdownPreview.svg");
}
.svg-icon-bg.iconEllipsisHorizontal {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/EllipsisHorizontal.svg");
}

.svg-icon-bg.iconArrowDownSm {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/ArrowDownSm.svg");
}
.svg-icon-bg.iconArrowRightSm {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/ArrowRightSm.svg");
}
.svg-icon-bg.iconSearchSm {
    width: 21px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/SearchSm.svg");
}
.svg-icon-bg.iconStackSnippets {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/StackSnippets.svg");
}

/* Required for the plugin/official/stackSnippet plugin */
.svg-icon-bg.iconShareSm {
    width: 18px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/ShareSm.svg");
}

.svg-icon-bg.iconEyeOff {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/EyeOff.svg");
}

.svg-icon-bg.iconEye {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/Eye.svg");
}
