@import "@stackoverflow/stacks-icons/dist/icons.css";

/* TODO get rid of these once they're exposed in the upstream Stacks-Icons package */

.svg-icon-bg.iconRichText {
    width: 21px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/RichText.svg");
}
.svg-icon-bg.iconMarkdownPreview {
    width: 21px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/MarkdownPreview.svg");
}
.svg-icon-bg.iconEllipsisHorizontal {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/EllipsisHorizontal.svg");
}
