@import "@stackoverflow/stacks-icons/dist/icons.css";

/* TODO get rid of these once they're exposed in the upstream Stacks-Icons package */

.svg-icon-bg.iconRichText {
    width: 21px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/RichText.svg");
}
.svg-icon-bg.iconMarkdownPreview {
    width: 21px;
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/MarkdownPreview.svg");
}
.svg-icon-bg.iconEllipsisHorizontal {
    --bg-icon: url("~@stackoverflow/stacks-icons/src/Icon/EllipsisHorizontal.svg");
}

/* Override for icon color in HC mode */
.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined
    .svg-icon-bg.iconRichText:after,
.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined
    .svg-icon-bg.iconMarkdownPreview:after,
.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined
    .svg-icon-bg.iconMarkdown:after {
    color: var(--white);
}

.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined,
.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined,
.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined {
    background-color: var(--black-400) !important;
}

.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined:hover,
.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined:hover,
.theme-highcontrast
    .s-btn-group.s-btn-group--radio
    .s-btn--radio:checked
    + .s-btn.s-btn__outlined:hover {
    background-color: var(--black-500) !important;
}
