.s-code-block.markdown {
    // TEXT

    .tok-heading {
        color: var(--highlight-color);
        font-size: var(--fs-body2);
        font-weight: bold;
    }

    .tok-strong {
        font-weight: bold;
    }

    .tok-emphasis {
        font-style: italic;
    }

    .tok-quote {
        color: var(--highlight-comment);
    }

    // LINKS + URLS

    .tok-link {
        color: var(--highlight-namespace);

        &.tok-labelName {
            color: var(--highlight-keyword);
        }
    }

    .tok-url {
        color: var(--highlight-keyword);
        text-decoration: underline;
    }

    .tok-labelName {
        color: var(--highlight-comment);
    }

    // SPECIAL CHARACTERS
    //NOTE: these are placed last so they take precedence over the rest of the token styles

    .tok-string,
    .tok-meta,
    .tok-tagName {
        color: var(--highlight-comment);
    }
}

// TODO inline code text
// TODO code block text
