.s-code-block.markdown .hljs-section {
    color: var(--black-800) !important;
    font-size: var(--fs-body2);
    font-weight: 700;
}

.s-code-block.markdown .hljs-quote,
.s-code-block.markdown .hljs-string,
.s-code-block.markdown .hljs-symbol,
.s-code-block.markdown .hljs-tag {
    color: var(--black-600) !important;
}

.s-code-block.markdown .hljs-link {
    color: var(--blue-600) !important;
    text-decoration: underline;
}

.s-code-block.markdown .tok-strike {
    text-decoration: line-through;
}
