{% layout "layout.html" %} {% block content %}
<textarea id="content" class="d-none">
<!-- begin snippet: js hide: false console: true babel: null babelPresetReact: false babelPresetTS: false -->

<!-- language: lang-js -->

    console.log("test");

<!-- language: lang-css -->

    .test {
      position: fixed;
    }

<!-- language: lang-html -->

    <div>test</div>

<!-- end snippet -->
</textarea>

<h1>Plugin Playground</h1>
<div
    id="example-1"
    class="js-dev-plugins-enabled js-official-plugins-enabled"
></div>
{% endblock %}
