{% layout "layout.html" %} {% block content %}
<textarea id="content" class="d-none">

## Reasons why tables are totally rad

Here are a few reasons why tables are super hot right now.

| Reason                  | Coolness factor | Approved |
| ----------------------- |----------------:|:--------:|
| They've got **columns** | 500             | ✅       |
| And *rows*              | 8000            | ✅       |
| and different alignment | 20000           | 🔥       |

</textarea>
<h1>Tables Playground</h1>
<div id="example-1" class="js-tables-enabled"></div>
{% endblock %}
