name: Changelog

on:
    push:
        branches: [main]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: lts/*

            - name: Install dependencies
              run: npm ci

            - name: Run Commitlint against most recent commit message
              run: echo -n "${{ github.event.head_commit.message }}" | npx --no -- commitlint --verbose
